header {
    background-color: #2A3439;
    height: 80px;
    color: white;
    margin: 0;
    padding: 0;
}

header h1 {
    color: white;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    font-size: 40px;
    top: 0;
    left: 20px;
    vertical-align: middle;
    line-height: 80px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100vh;
    overflow: hidden;
}

.MainContentClass {
    background-color: white;
    text-align: center;
}

.MainContentClass p {
    display: inline-block;
    position: relative;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    min-width: 800px;
    width: 1000px;
    color: #2A3439;
    padding: 100px;
}

.MainContentClass Form {
    text-align: center;
    padding: 0px 0px;
}

.MainContentClass textarea {
    resize: vertical;
    max-height: 145px;
    min-height: 35px;
    font-size: 30px;
}

.MainContentClass button {
    font-size: 20px;
    width: 200px;
    height: 40px;
    color: white;
    font-weight: bold;
    background-color: #2A3439;
    border: None;
    text-decoration: None;
    cursor: pointer;
    margin-top: 10px;
}




  

  